

.extra-data-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.extra-data-panel h2 {
    width: 100%;
}

.extra-data-panel form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}
.extra-data-panel label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}