

.auth-header {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color: var(--night-blue-o5);
    backdrop-filter: blur(5px);
        z-index: 20;
}

.auth-header h1 {
    font-size: 38px;
}


.auth-sections-nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
.auth-sections-nav a {
    font-size: 22px;
    opacity: .5;
    transform: .5s;
    cursor: pointer;
}
.auth-sections-nav a.current {
    opacity: 1;
}
.auth-sections-nav a:hover {
    opacity: 1;
}

.user-data {
    width: 400px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}
.user-data button {
    font-size: 18px;
    width: 100%;

}

.sign-up {
    background-color: var(--white);
    color: black;
}
.burger-menu {
    font-size: 22px;
}
@media (max-width: 768px) {
    
    
    .auth-sections-nav {
        display: none;
    }
    .user-data {
        display: none;
    }

    .burguer-menu {
        font-size: 32px;
        margin-right: 20px;
    }
}
@media (min-width: 768px) {
    
    .burger-menu {
        display: none;
    }
}
