
.home-page {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-page-body {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.home-body-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home-body-nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}
.home-body-nav a {
    font-size: 22px;
    opacity: .5;
    cursor: pointer;
}
.home-body-nav .current-section a {
    opacity: 1 !important;
}